{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Manish Rajput</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Creative Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" type="text/css"  media="all" href="{% static 'css/bootstrap.css' %}"/>
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" type="text/css"  media="all" href="{% static 'css/style.css' %}"/>
<!--// css -->
<link rel="stylesheet" type="text/css"  media="all" href="{% static 'css/owl.carousel.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/cm-overlay.css' %}"/>
<!-- font-awesome icons -->
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}"/> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script type="text/javascript" src=" {% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/bootstrap.js' %}"></script>
<!-- menu -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<script type="text/javascript" src=" {% static 'js/main.js' %}"></script>
<!-- //menu -->
<script>
$(document).ready(function() { 
	$("#owl-demo").owlCarousel({
 
		autoPlay: 3000, //Set AutoPlay to 3 seconds
		autoPlay:true,
		items : 3,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]
 
	});
}); 
</script>
</head>
<body>
	<!-- banner -->
	<div class="banner" id="home">
		<!-- menu -->
			<div id="toggle_m_nav">
			  <div id="m_nav_menu" class="m_nav">
				<div class="m_nav_ham" id="m_ham_1"></div>
				<div class="m_nav_ham" id="m_ham_2"></div>
				<div class="m_nav_ham" id="m_ham_3"></div>
			  </div>
			</div>
			<div id="m_nav_container" class="m_nav">
			  <ul id="m_nav_list" class="m_nav">
				<li class="m_nav_item" id="m_nav_item_1"> <a href="#home">Home</a> </li>
				<li class="m_nav_item" id="moble_nav_item_2"> <a href="#about">About</a> </li>
				<li class="m_nav_item" id="moble_nav_item_3"> <a href="#statistics">Statistics</a> </li>
				<li class="m_nav_item" id="moble_nav_item_4"> <a href="#experience">Experience</a> </li>
				<li class="m_nav_item" id="moble_nav_item_5"> <a href="#projects">Projects</a> </li>
				<li class="m_nav_item" id="moble_nav_item_6"> <a href="#contact">Contact</a> </li>
			  </ul>
			</div>
		<!-- menu -->
		<div class="container">
			<div class="agile-logo">
				<h1><a href="index.html">Software<span>Engineer</span></a></h1>
			</div>
			<div class="w3l-banner-grids">
				<div class="col-md-8 w3ls-banner-right">
					<div class="banner-right-img">
						 <img class="img-fluid" src="{% static  "images/1.jpg" %}" alt="My image">
					</div>
					<div class="banner-right-info">
						<h2>I want to be part of organization where can i use my
						knowledge and skill to learn, i am self motivational & self learner.
						</h2>
						<p>Created multiple web apps started with requirements gathering,
						  designing, developing, refactoring, and code implementation
                          Implemented the redesigned user dashboard with better 
                          development and performance using frontend and beckend technology, 
                           Innovative optimized solution seeker. Excited to be at the deployment 
                           phase of my new career as a web developer. I am ambitious, adventurous,
                           assiduous, animated, and an alliteration advocate.Creating website layout/user 
                           interfaces by using standard HTML/CSS/js/django practices.</p>
					</div>
					<div class="clearfix"> </div>
					<div class="w3-button">
						<div class="w3-button-info m_nav_item">
							<a class="hvr-sweep-to-bottom" href="#contact">Contact Me</a>
						</div>
					</div>
					<div class="social-grids">
						<div class="social-info">
						</div>
						<center>
						<div class="agileinfo-social-grids">
							<ul>
								<li><a href="https://bit.ly/2UvmX2l"><i class="fa fa-github"></i></a></li>
								<li><a href="https://bit.ly/2OG64N4"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/ma_ni_sh___ra_jp_ut/"><i class="fa fa-instagram"></i></a></li>	
							</ul>
						</div>
					</center>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 w3ls-banner-left">
					<div class="w3ls-banner-left-info">
						<h4>Profession</h4>
						<p>Web Designer and Developer</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Name</h4>
						<p>Manish Rajput</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Mobile</h4>
						<p>6260539838</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Address</h4>
						<p>JC Bose Boys Hostel SGSITS College,Indore</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Email Address</h4>
						<p><a href="mailto:example@email.com">manishsinghrajput199564@gmail.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="wthree-about-grids">
				<div class="col-md-6 wthree-about-left">
				<h3>About Me</h3>
				<h4>I am a final year student at Shri Govindram Seksaria Institute of Technology and Science indore, My graduation will be complete in april 2019. I am looking for job in web development with python django framework.</h4>
				<p>I have also done my diploma in information technology engineering at Samrat Ashok Technological Institute vidisha, i am  belong
				to village. So i have done my high school in Goverment high school hoshangabad. During my diploma i have intersted in Programming. 
				i have also done different different website design and development using php for backend during diploma. But now i am intersted in python django framework for backend. I have also interst in machine learning algorithms. i have done small projects during  machine learning practice. I also have done machine learning course by microsoft virtual academy and python course done by bitdegree.</p><br>
				<ul>
					<h4> Fronted  </h4>
					<li>Web fundamentals like HTML, JavaScript, and CSS</li>
					<li>Libraries like jQuery or Backbone.js</li>
					<li>Front-end (CSS) frameworks like Foundation or Bootstrap</li>
				</ul>
				<ul>
					<h4> Becked</h4>
					<li>CRUD (Create, Read, Update, Delete)</li>
					<li> Web fundamentals like HTML, JavaScript, and CSS</li>
					<li>Server-side languages like Python</li>
					<li>Database technologies like MySQL </li>
					<li> Frameworks related to their server-side language of choice like: Python</li>
				</ul>
				</div >
				<div class="col-md-6 wthree-about-right">
					<h3>Skills</h3>
					<div class="skills-bar">
						<section class='bar'>
						  <section class='wrap'>
							<div class='wrap_right'>
							  <div class='bar_group'>
								<div class='bar_group__bar thin' label='HTML' show_values='true' tooltip='true' value='460'></div>
								<div class='bar_group__bar thin' label='CSS' show_values='true' tooltip='true' value='405'></div>
								<div class='bar_group__bar thin' label='Javascript' show_values='true' tooltip='true' value='420'></div>
								<div class='bar_group__bar thin' label='Jquery' show_values='true' tooltip='true' value='410'></div>
								<div class='bar_group__bar thin' label='Bootstrap' show_values='true' tooltip='true' value='390'></div>
								<div class='bar_group__bar thin' label='Python' show_values='true' tooltip='true' value='410'></div>
								<div class='bar_group__bar thin' label='Python Django Framework' show_values='true' tooltip='true' value='360'></div>
								<div class='bar_group__bar thin' label='Machine learning' show_values='true' tooltip='true' value='260'></div>
							  </div>
							</div>
							<div class='clear'></div>
						  </section>
						</section>
					</div>
				</div >
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- statistics -->
	<div class="jarallax statistics" id="statistics">
		<div class="container">
			<div class="w3-agileits-statistics-heading">
				<h3>My Statistics</h3>
			</div>
			<div class="agile-statistics-grids">
				<div class="col-sm-4 agile-statistics-grid">
					<h4>8</h4>
					<i class="fa fa-desktop" aria-hidden="true"></i>
					<p>Projects Complete</p>
				</div>
				<div class="col-sm-4 agile-statistics-grid statistics-grid2">
					<h4>2</h4>
					<i class="fa fa-user" aria-hidden="true"></i>
					<p>Clients</p>
				</div>
				<div class="col-sm-4 agile-statistics-grid">
					<h4>1</h4>
					<i class="fa fa-trophy" aria-hidden="true"></i>
					<p>Awards</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>
		</div>
	</div>
	<!-- //statistics -->
	<!-- experience -->
	<div class="experience" id="experience">
		<div class="container">
			<div class="w3-agileits-statistics-heading experience-heading">
				<h3>Work Experience</h3>
			</div>
			<div class="w3-agile-experience-grids">
				<div class="experience-top-grids">
					<div class="col-md-6 experience-grid">
						<div class="experience-grid-icon icon-left hvr-radial-out">
							<i class="fa fa-folder-open" aria-hidden="true"></i>
						</div>
						<div class="experience-grid-info">
							<h5>Web Design</h5>
							<p>i have done an internship in web design during my polytechnic at Integration IT Services Pvt. Ltd vidisha. There i have learned html,css,js etc.good work experiance during my internship.<a href="http://www.integrationitservices.com/contact.php"target="_blank">More</a></p>
							<h6> Duration 1 Months (Jun 16 to Dec 16)</h6>

						</div>
					</div>
					<div class="col-md-6 experience-grid experience-grid1">
						<div class="experience-grid-icon icon-left hvr-radial-out">
							<i class="fa fa-bell" aria-hidden="true"></i>
						</div>
						<div class="experience-grid-info">
							<h5>Web Development</h5>
							<p>i have done internship in web development during my engineering at Deeplogix technology indore. I have learned all technology  related with web development Python Django etc. <a href="https://www.deeplogix.tech/" target="_blank">More</a> </p>
							<h6> Duration 2 Months (Dec 18 to Feb 19)</h6>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //experience -->
	<!-- feedback -->
	<div class="jarallax feedback">
		<div class="container">
			<div class="w3-agileits-statistics-heading">
				<h3>Family Member</h3>
			</div>
			<div class="agileits-feedback-grids">
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f1.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">D.S. Rajput</h6>
									<p>My Nanu</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f2.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Mr Arjun Rajput</h6>
									<p>My Father</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Ms Geeta Rajput</h6>
									<p>My Mother</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Ms Sadhna Rajput</h6>
									<p>My Sister</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Mr Gourabh Rajput</h6>
									<p>My Jiju</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/2.jpg" width="20px" height="60px" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Ruhi Rajput</h6>
									<p>My niece</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Mr Deepak Rajput</h6>
									<p>My brother</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="images/f4.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h6 style="color: yellow;">Ms Pihu Rajput</h6>
									<p>My Sister</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<script src="js/jarallax.js"></script>
			<script src="js/SmoothScroll.min.js"></script>
			<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>
		</div>
	</div>
	<!-- //feedback -->
	<!-- projects -->
	<div class="projects" id="projects">
		<div class="container">
			<div class="w3-agileits-statistics-heading experience-heading">
				<h3>My Projects</h3>
			</div>
		</div>
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
							<div class="w3_tab_img">
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
											<a "class="cm-overlay" img src="{% static  "images/p1.jpg" %}" alt="My image">
										  <figure class="imghvr-shutter-in-out-diag-2">
							
										  	<img  class="img-responsive" src="{% static  "images/p1.jpg" %}" alt="My image">
										  </figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
										  <figure class="imghvr-shutter-in-out-diag-2">
										  	<img  class="img-responsive" src="{% static  "images/p2.jpg" %}" alt="My image">
										  </figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
										  <figure class="imghvr-shutter-in-out-diag-2">
								
										  	<img  class="img-responsive" src="{% static  "images/p3.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
										  <figure class="imghvr-shutter-in-out-diag-2">
										  	
										  	<img  class="img-responsive" src="{% static  "images/p4.jpg" %}" alt="My image">
										</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
													<img  class="img-responsive" src="{% static  "images/p5.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												
												<img  class="img-responsive" src="{% static  "images/p6.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												
												<img  class="img-responsive" src="{% static  "images/p7.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p8.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
							<div class="w3_tab_img">
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p6.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
											<img  class="img-responsive" src="{% static  "images/p9.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
							<div class="w3_tab_img">
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p1.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p5.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p7.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p3.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="painting" aria-labelledby="painting-tab">
							<div class="w3_tab_img">
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p2.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p4.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p10.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
							<div class="w3_tab_img">
								<div class="col-md-3 w3_tab_img_left">
									<div class="demo">
										
											<figure class="imghvr-shutter-in-out-diag-2">
												<img  class="img-responsive" src="{% static  "images/p8.jpg" %}" alt="My image">
											</figure>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
		</div>
		<script src="js/jquery.tools.min.js"></script>
			<script src="js/jquery.mobile.custom.min.js"></script>
			<script src="js/jquery.cm-overlay.js"></script>
			<script>
				$(document).ready(function(){
					$('.cm-overlay').cmOverlay();
				});
			</script>
	</div>
	<!-- //projects -->
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="w3-agileits-statistics-heading experience-heading">
				<h3>Contact Me</h3>
				<h6 class="text-center"> comming soon !</h6>
			</div>
			<div class="contact-form">
				<form action="#" method="post">
					<div class="fields-grid">
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="Full Name" required="">
							<label>Full Name</label>
							<span></span>
						</div>
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="Phone" required=""> 
							<label>Phone</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="text" name="Email" required=""> 
							<label>Email</label>
							<span></span>
						</div> 
						<div class="styled-input">
							<input type="text" name="Subject" required="">
							<label>Subject</label>
							<span></span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="styled-input textarea-grid">
						<textarea name="Message" required=""></textarea>
						<label>Message</label>
						<span></span>
					</div>	 
					<input type="submit" value="SEND">
				</form>
			</div>
		</div>
	</div>
	
	<!-- //contact -->
	<!-- copyright -->
	<div class="agileits-w3layouts-footer">
		<div class="container">
			<p> All rights reserved.</p>
		</div>
	</div>
	<!-- //copyright -->
	<script type="text/javascript" src=" {% static 'js/bars.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/owl.carousel.js' %}"></script>
</body>	
</html>